# Supabase (client)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_FUNCTIONS_URL=

# Supabase (server/worker)
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# QStash
QSTASH_TOKEN=
QSTASH_URL=
