# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.next
.turbo
coverage
*.tsbuildinfo

# Local env
.env
.env.*
!.env.example

# Local state
.DS_Store
*.log
.local-storage

# Tooling
.vercel
pnpm-debug.log*
